@import 'reset';
@import 'config';


body{
   background-color: $main-bg;
   color: $white;

   width: 100vw;
   height: 100vh;
}

.card{
    background-color: $card-bg;
    border-radius: 0.75rem;
    height: 33.75rem;
    width: 20.375rem;
    padding: 1.5rem 1.625rem 0rem 1.625rem;

    box-shadow: 0.625rem 3.125rem 2.5rem 0.625rem $shadow;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    
 
    

    .card-holder{
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        position: relative;
        
        
        .card-crypto-picture{
            background-color: $cyan;
            border-radius: 0.75rem;
            position: relative;
            cursor: pointer;

            &:hover .hover-view{
                opacity: 1;
                
                
            }

            &:hover .card-image{
                opacity: 0.5;
            }           
            
            .card-image{
                border-radius: 0.5625rem;
                position: block;
                
               

            }
          

            .hover-view{
                
                position: absolute;
                top: 40%;
                left: 41%;
                opacity: 0;
                
            
                
                
                
            }
        }


     
        
        .card-title{
            font-size: 1.375rem;
            font-weight: 600;
            cursor: pointer;
            
            &:hover{
                color: $cyan;
            }

            
        }
    
        .card-description{
            font-size: 1.0625rem;
            font-weight: 300;
            color: $soft-blue;
        }

   
    }

    .card-sales{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.0625rem solid $line;
        padding-bottom: 1.25rem;
        
            .currency{
                display: flex;
                align-items: center;
                color: $cyan;
                gap: 0.5rem;
                display:flex;

                img{
                    height: 1.25rem;
                }
                
                h3{
                    font-size: 0.9375rem;

                    
                }

            }

            .time{
                display: flex;
                align-items: center;
                color: $soft-blue;
                gap: 0.5rem;
                display:flex;

                img{
                    height: 0.9375rem;
                }
                
                h3{
                    font-size: 0.9375rem;
                    font-weight: 400;

                    
                }

            }

    }

    .card-creator{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.9375rem;
        

            .creator-image{
                width: 2.1875rem;
                border: 0.0625rem solid $white;
                border-radius: 50%;
                
                
            }

            .creator-name{
                color: $soft-blue;
                font-weight: 100;
                font-size: 1rem;
                cursor: pointer;
                

                .name{
                    color: $white;

                    &:hover{
                        color: $cyan;
                    }
                }
            }
    }
}










