@import url(./reset.css);
@import url(./config.css);


body{
    background-color: var(--very-dark-blue1);
    color: var(--white);
    
}


.hero{
    display: grid;
    place-content: center;
    max-height: 100vh;
    
}

.hero-container{
    width: 320px;
    background-color: var(--very-dark-blue2);
    padding: 20px;
    margin: 20px;
}